@use "../setting/index" as *;

.access {
  &__inner {
    width: 92%;
    margin: 0 auto;
    max-width: 1600px;
    padding: 0px 24px 300px;
    .section__title__box {
      margin: 0 0 0 46px;
    }
    .section__title {
      margin-top: 32px;
    }
  }
}

.access__container {
  display: grid;
  grid-template-columns: minmax(0, 727px) 310px;
  gap: 6%;
  justify-content: center;
}

.google__map {
  iframe {
    width: 100%;
    height: 100%;
  }
}

.access__address {
  margin-top: 192px;
  color: #fff;
}

.access__address__text {
  font-size: 16px;
  letter-spacing: 0.14em;
  line-height: 35px;
  margin-bottom: 24px;
}

.google__map__btn {
  width: fit-content;
  text-align: center;
  margin-left: 52px;
  a {
    display: block;
    font-size: 14px;
    letter-spacing: 0.14em;
    line-height: 33px;
    background-color: #fff;
    position: relative;
    color: $color-main;
    width: 178px;
    padding-left: 22px;
    &::before {
      content: "";
      width: 15.5px;
      height: 20px;
      background-color: #231815;
      -webkit-mask-image: url(../assets/images/icon-pin.svg);
      mask-image: url(../assets/images/icon-pin.svg);
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center center;
      mask-position: center center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      text-indent: 0;
      position: absolute;
      top: 50%;
      left: 24px;
      transform: translateY(-50%);
    }
  }
}

.business-hours {
  color: #fff;
  margin-top: 50px;
  .time {
    font-size: 16px;
    letter-spacing: 0.14em;
    line-height: 35px;
  }
  span {
    font-size: 12px;
    letter-spacing: 0.14em;
    line-height: 35px;
  }
}