@use "../setting/index" as *;

.bottom__slide {
  overflow: hidden;
  &__inner {
    width: 100%;
    overflow: hidden;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .swiper-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 32vw;
      object-fit: cover;
      @include media(bp760) {
        height: 57vw;
      }
    }
  }
  .swiper-slide-active .swiper-img,
  .swiper-slide-duplicate-active .swiper-img,
  .swiper-slide-prev .swiper-img {
    animation: zoomUp 12s linear 0s normal both;
  }
}

.footer {
  position: relative;
  &__inner {
    width: 84%;
    margin: 0 auto;
    max-width: 1360px;
    padding: 136px 24px 104px;
    @include media(bp1200) {
      width: 94%;
    }
    @include media(bp860) {
      padding-bottom: 74px;
    }
    @include media(bp760) {
      padding-top: 60px;
      width: 100%;
    }
  }
}

.footer__pc {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  @include media(bp860) {
    display: none;
  }
}

.footer__tel {
  margin-top: 112px;
  color: #fff;
  a {
    font-family: $family-alice-regular;
    font-size: 34px;
    letter-spacing: 0.1em;
    @include media(bp760) {
      font-size: 23px;
    }
  }
  p {
    font-size: 16px;
    letter-spacing: 0.1em;
    margin-top: 12px;
    @include media(bp760) {
      font-size: 11.2px;
    }
  }
}

.footer__right {
  padding-top: 78px;
  display: flex;
  color: #fff;
}

.footer__right__box {
  &:first-child {
    margin-right: 62px;
    @include media(bp1200) {
      margin-right: 22px;
    }
  }
  p {
    font-size: 16px;
    letter-spacing: 0.14em;
    margin-bottom: 46px;
    line-height: 35px;
  }
}

.footer__sns {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
  a {
    display: block;
  }
}

.copy {
  font-size: 14px;
  letter-spacing: 0.14em;
  font-family: $family-kaku-gothic;
  text-align: center;
  margin-top: 142px;
  color: #fff;
  @include media(bp760) {
    font-size: 7px;
  }
}


.footer__sp {
  display: none;
  @include media(bp860) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .footer__tel {
      text-align: center;
      margin-bottom: 32px;
      margin-top: 0;
    }
    .footer__sns {
      margin-bottom: 70px;
      gap: 28px;
      a {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
    .page__top__button {
      position: absolute;
      right: 0;
      bottom: 48px;
    }
  }
  .logo {
    @include media(bp760) {
      width: 176px;
      height: 58px;
    }
  }
}