// color
$color-main: #231815;
$color-bg: #a59a8e;
$color-sub: #eda94f;
$color-border: #b2a99e;

// font-family
$family-reimin: "a-otf-ud-reimin-pr6n";
$family-gothic: "a-otf-gothic-mb101-pr6n";
$family-kaku-gothic:  "ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","メイリオ","Meiryo",sans-serif;
$family-alice-regular: "Alice-Regular";
$family-thefrenchkiss: "thefrenchkiss";